.btn-reset{
    padding: 10px 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: hsl(184, 14%, 56%);
    color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 5px;
    width: 90%;
    margin-top: 30px;
    
}
.container{
    background-color: hsl(183, 100%, 15%);
    height: 90%;
}